body, html {
    font-family: microsoft yahei, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    margin: 20px;
}

#header{
    height: 5%;
    position: relative;
    text-decoration: none;

}

a:link { color: blue; text-decoration: none; }/*链接未点击时*/
a:visited { color: #771caa; text-decoration: line-through; }/*链接已经点击过*/
a:hover { color: red; text-decoration: underline; }/*鼠标放在链接上未点击*/
a:active { color: #3366cc; }/*链接被按下时候的状态*/



ul#nav{
    margin: 0 auto;/*外边距*/
    text-align: center;
    overflow: hidden;
}

ul#nav li{
    float: left;
    padding-left: 11%;
}

ul#nav li a{
    display: block;
    text-decoration: none;
    height: 65px;
    padding-top: 25%;
    margin: 0 13px ;
    white-space:nowrap;
    font: 18px "微软雅黑";
    text-shadow: 0 1px 3px #c4bda6;/*设置字体阴影效果*/
    color: #222222;
}

ul li {
    font-size: 20px;
    position: relative;
    right: 10px;
    width: 9%;
    word-wrap: break-word;
    list-style: none;
    text-decoration: none;
}

hr{
    width: 90%;
}


section{
    position: relative;/*相对定位*/
    left: 2%;
    width: 75%;
    clear: both;

}

.left{
    /*border: 1px solid red;*/
    position: inherit;

    margin: 3% 0 0 1%;
    float: left;

}

.left ul li{
    position: relative;
    /*white-space:nowrap;/!*强制不换行*!/*/
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    height: auto;

}



.center{
    position: inherit;/*对于父级定位*/
    width: 70%;
    float: left;
    margin: 3% 0 0 3%;

}

.center hr{
    width: 100%;
}
p{
    text-indent: 2em;
    word-wrap: break-word;
}

.date{
    position: inherit;
    float: right;
    margin: 3% -24% 0 0;/*外边距*/

}

#footer{
    clear:both;
    border: none;
    text-align:center;
    padding: 20px;
    margin: auto;


}

